//fuentes
$fuente_principal: "Open Sans", sans-serif;;

//media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

//colores
$primario: #3b4862;
$secundario: #283142;
$primarioDegradado: #6277a1;
$negro: #000;
$blanco: #FFF;
$grisClaro: #f0f0f0;

//unidades
$separacion: 5rem;